name: release-artifacts

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.event.release.tag_name }}
      - uses: astral-sh/setup-uv@v5
        with:
          python-version: "3.11"
      - name: Build
        run: |
          uv venv
          uv pip install build
          uv run python -m build
      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: dist/*
          token: ${{ secrets.RELEASE_PLEASE_TOKEN || github.token }}
